@import-normalize;
@import 'renderquote.css';
@import 'header.css';
@import 'form.css';
@import 'renderlist.css';
@import 'modal.css';


*, *::before, *::after {
  box-sizing: border-box
}

html {
  font-size: 20px;
}

body {
  padding: 0;
  margin: 0;
}

.mr-1 {
  margin-right: 5px;
}
