@import-normalize;
@import 'renderquote.css';
@import 'header.css';
@import 'Newform.css';
@import 'renderlist.css';
@import 'modal.css';


* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
}

.main-container {
  margin-bottom: 10px;
  padding-bottom: 45px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color:	rgb(220,220,220);
}
