@import-normalize;
@import 'renderquote.css';
@import 'header.css';
@import 'form.css';
@import 'renderlist.css';

* {
  box-sizing: border-box;
  max-width: 100%;
}

html {
  font-size: 20px;
  background-color: #f5d31d;
}

body {
  padding: 0;
  margin: 0;
  border: 15px solid black;
}

.mr-1 {
  margin-right: 5px;
}
