.header-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #3b5a9d;
}

.header {
  margin: 0;
}

.sub-header {
  margin-bottom: 30px;
  margin-top: 10px;
}

.quick {
  font-size: 3.5rem;
}
