.render-list {
  background-color: #f5d31d;
  border-top: 15px solid black;
  display: flex;
  flex-wrap: wrap;
}

.timestamp {
  margin-top: 8px;
  text-align: right;
  font-family: 'Caveat', cursive;
  font-size: 1.5rem;
  font-weight: bold;
}
