.render-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #EEEEEE;
  padding-top: 15px;
}

.timestamp {
  margin-top: 8px;
  text-align: right;
  font-size: 1.5rem;
  font-weight: bold;
}
