.render-list {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around;
  flex-direction: row-reverse; */
}

.timestamp {
  margin-top: 8px;
  text-align: right;
  font-size: 1.5rem;
  font-weight: bold;
}
