
.content-quote {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 1rem;
  font-weight: 700;
  padding-bottom: 5px;
}

.content-author {
  font-size: small;
  font-weight: 700;
  text-align: right;
  margin-top: 5px;
  padding-right: 12px;
}
